/* fonts */
@font-face {
    font-family: PlusJakartaSans;
    src: url(../fonts/PlusJakartaSans-Medium.ttf);
}

/* end-fonts */
* {
    margin: 0;
    padding: 0;
    border: unset;
    outline: none;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
}

body {
    font-family: PlusJakartaSans;
}

img {
    width: 70%;
    height: 70%;
    max-width: 100%;
}

.container {
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
    max-width: 1600px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container div {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.container div>div {
    width: 100%;
}

/* start-form */
.container div .form {
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    display: flex;
    padding: 3rem;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px 15px #005aea25;
}

.form h1 {
    color: beige;
}

.input {
    width: 100%;
    margin-top: 20px;
    border-radius: 9px;
    color: blueviolet;
    border-radius: 20px;
    background-size: 20px;
    border: 1px solid gray;
    padding: 17px 17px 17px 40px;
    background-repeat: no-repeat;
    background-position: 14px 14px;
    background-image: url(../images/person.svg);
}

form input:focus {
    border: 3px solid rgb(64, 51, 77);
}

.email {
    background-image: url(../images/envelope.svg);
}

.password {
    background-image: url(../images/exclamation-circle.svg);
}

.form p {
    color: antiquewhite;
    text-align: center;
    margin-top: 20px;
}

/* end_form */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* line */
.line {
    width: 50px;
    height: 4px;
    background-color: rgba(255, 255, 0, 0.745);
    border-radius: 6px;
    margin: 28px 5px 0 0;
}
.line_left {
    margin-left: 15px;
}
.line_b {
    background-color: #0909c5;
}
.password_s {
    height: auto !important;
}
.password_s p {
    font-size: 14px;
}
/* end-line */
/* btn */
.acount {
    color: black;
    height: 45px;
    width: 11rem !important;
    border: 1px solid gold;
    background: linear-gradient(90deg, rgba(255, 194, 0, 1) 16%, rgba(224, 123, 13, 1) 96%);

}
.button {
    display: flex;
    justify-content: center;
    gap: 3px !important;
    margin-top: 20px;
}
h1{
    margin-top: 3rem;
}
.btn {
    cursor: pointer;
    border-radius: 13px;
    font-size: 13px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    height: 41px;
    width: 9rem;
    background-color: unset;
    margin-right: 5px;
    border: 1px solid white;
}
.btn:hover {
    background-color: rgba(255, 255, 255, 0.13);
}
.acount:hover {
        background: rgb(224, 123, 13);
        background: linear-gradient(90deg, rgba(224, 123, 13, 1) 20%, rgba(255, 194, 0, 1) 73%);
}
.circle_1 {
    width: 338px;
    height: 300px;
    bottom: -74px;
    border-radius: 100%;
    position: absolute;
    border: 40px solid #015be8;
    left: -168px;
}
.circle_2 {
    right: 0px;
    width: 300px;
    height: 300px;
    bottom: 532px;
    position: absolute;
    border-radius: 0 0 0 300px;
    background-color: rgb(189, 215, 234);
}
/* end-btn */